In [71]:
import pandas as pd 
import numpy as np

# Exercice 1
df=pd.read_csv('titanic.csv')

print(df.isna().sum())   #valeur manquantes des colonnes

print(len(df['Pclass'].unique()))  #nombre de classes dans le titanic

#taux de survie homme/femme par classe
# Ici j'ai essayé de faire un tableau permettant d'avoir en abscisse le sexe et en ordonné la classe
# Le résultat n'est pas optimal car en transformant la liste en DataFrame, des indices apparaisent en ordonné et en abscisse
# Il y avait surement une méthode plus simple

survie=df[['Survived','Pclass','Sex']] # en fait ce n'est pas nécessaire de passer par une sous-table

tab=[[ 'classe','M','F' ]]+[[i,(((survie['Survived']==1 )& (survie['Sex']=='male' ) & (survie['Pclass']==i))).sum()/len((survie['Sex']=='male') & (survie['Pclass']==i)),
                            (((survie['Survived']==1 ) & (survie['Sex']=='female') & (survie['Pclass']==i)).sum()/len((survie['Sex']=='female') & (survie['Pclass']==i))) ] for i in range(1,4)]

taux_de_survie=pd.DataFrame(tab)

print(taux_de_survie)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
3
        0         1         2
0  classe         M         F
1       1  0.050505  0.102132
2       2   0.01908  0.078563
3       3   0.05275  0.080808

In [76]:
# Exercice 2

sous_dataframe=df.loc[(df['Pclass']!=1) & (df['Age']>=70) , :]
print(sous_dataframe)

     PassengerId  Survived  Pclass                         Name   Sex   Age  \
744          117         0       3         Connors, Mr. Patrick  male  70.5
769          673         0       2  Mitchell, Mr. Henry Michael  male  70.0
773          852         0       3          Svensson, Mr. Johan  male  74.0

     SibSp  Parch      Ticket    Fare Cabin Embarked
744      0      0      370369   7.750   NaN        Q
769      0      0  C.A. 24580  10.500   NaN        S
773      0      0      347060   7.775   NaN        S